body{
  font-family: 'Playfair Display', serif;
  height: auto;
    background: linear-gradient(140deg, #f5eaea 40%, #bb1c2a 60%);
}
.button-class {
  color: #000000	;
  text-shadow: 2px 2px 6px #000000;
  font-size:15px;
  text-decoration: none;
  text-align: center;
  transition: 0.8s;
  margin: 2px 2px;

}
