body{
  font-family: 'Playfair Display', serif;
  height: auto;
    background: linear-gradient(140deg, #f5eaea 40%, #bb1c2a 60%);
}
.add-button {
  color: #000000	;
  text-shadow: 2px 2px 8px #000000;

}
